<!-- <div class="card-deck row">
    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-5">
        <div class="card mr-0 ml-0 mb-3 b-rad">
            <div class="card-body">
                <div class="card border-0">
                    <div class="card-title">
                        <h3><b>Acceso rápido</b></h3>
                    </div>
                    <div class="card-body p-0 d-flex">
                        <button class="btn btn-success w-100 b-rad mr-1" (click)="openModalFormMovimiento()">Nuevo ingreso</button>
                        <button class="btn btn-danger w-100 b-rad ml-1" (click)="openModalFormMovimiento()">Nueva salida</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="card-deck row">
    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-5">

        <div class="card mr-0 ml-0 mb-3 b-rad">
            <div class="card-body">
                <div class="card border-0">
                    <div class="card-title">
                        <h3><b>Nuevo movimiento</b></h3>
                    </div>
                    <div class="card-body p-0 d-flex">
                        <button class="btn btn-outline-success w-100 b-rad mr-1" (click)="openModalFormMovimiento()">Ingreso</button>
                        <button class="btn btn-outline-danger w-100 b-rad ml-1 mr-1" (click)="openModalFormMovimiento()">Gasto</button>
                        <button class="btn btn-outline-info w-100 b-rad ml-1" (click)="openModalFormMovimiento()">Transferencia</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mr-0 ml-0 mb-3 b-rad">
            <div class="card-body">
                <div class="card border-0">
                    <div class="card-title">
                        <h3><b>Mis cuentas</b></h3>
                    </div>

                    <div *ngFor="let cuenta of cuentas">
                        <div class="card-body card-cuenta-body mb-2 bg-dark">
                        <!-- <div class="card-body card-cuenta-body mb-2" [ngClass]="'bg-outline-' + cuenta.color"> -->
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5><b>{{ cuenta.nombre }}</b></h5>
                                    <h6 class="mb-0">S/ {{ cuenta.monto }}</h6>
                                </div>
                                <div class="d-flex">
                                    <!-- <a class="align-self-center" [routerLink]='' (click)="test(1)">
                                        <img class="img-fluid cuenta-icon ml-1 mr-2" src="../../../assets/icons/plus.svg" alt="">
                                    </a>
                                    <a class="align-self-center" [routerLink]="" (click)="test(2)">
                                        <img class="img-fluid cuenta-icon ml-1 mr-2" src="../../../assets/icons/minus.svg" alt="">
                                    </a> -->
                                    <a class="align-self-center" [routerLink]="" (click)="verCuenta( cuenta )">
                                        <img class="img-fluid cuenta-icon ml-1 mr-2" src="../../../assets/icons/next-white.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- CUENTAS --> 
                    <!-- <div class="card-body card-cuenta-body bg-purple mb-2">
                        <h6>EFECTIVO</h6>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h6 class="mb-0">S/ 1200.00</h6>
                            </div>
                            <div class="d-flex">
                                <a class="align-self-center" [routerLink]='' (click)="test(1)">
                                    <img class="img-fluid cuenta-icon ml-1 mr-2" src="../../../assets/icons/plus.svg" alt="">
                                </a>
                                <a class="align-self-center" [routerLink]="" (click)="test(2)">
                                    <img class="img-fluid cuenta-icon ml-1 mr-2" src="../../../assets/icons/minus.svg" alt="">
                                </a>
                                <a class="align-self-center" [routerLink]='["/home/cuenta"]' (click)="test(3)">
                                    <img class="img-fluid cuenta-icon ml-1 mr-2" src="../../../assets/icons/layers.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-7">
        <div class="card mb-4 card mr-0 ml-0 b-rad">

            <div class="card-body">
                <div class="card border-0">
                    <div class="card-title">
                        <h3><b>Últimos Movimientos</b></h3>
                    </div>
                    <!-- MOVIMIENTOS -->
                    <div *ngFor="let mov of movimientos">
                        <div class="card-body card-mov-body" [ngClass]="mov.tipoMovimiento.ingreso ? 'border-ingreso' : 'border-gasto'" >
                            <div class="row d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="mr-3 align-self-center">
                                        <img class="img-fluid mov-icon" [src]="'../../../assets/icons/' + mov.tipoMovimiento.icono + '.svg'" alt="">
                                    </div>
                                    <div>
                                        <p class="mb-0">{{ mov.titulo }}</p>
                                        <p class="mb-0">{{ mov.createAt | date:'mediumDate' }}</p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="align-self-center mr-3">
                                        <span class="badge badge-secondary p-1">{{ mov.cuenta.nombre }}</span>
                                    </div>
                                    <div class="align-self-center">
                                        <p class="mb-0" [ngClass]="mov.tipoMovimiento.ingreso ? 'lbl-ingreso' : 'lbl-gasto'">
                                            S/
                                            <span>
                                                <b>{{ mov.tipoMovimiento.ingreso ? '+' : '-' }}</b>
                                            </span>
                                            {{ mov.monto }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card-body card-mov-body border-ingreso">
                        <div class="row d-flex justify-content-between">

                            <div class="d-flex">
                                <div class="mr-3 align-self-center">
                                    <img class="img-fluid mov-icon" src="../../../assets/icons/phone.svg" alt="">
                                </div>
                                <div class="mr-3">
                                    <p class="mb-0">Recarga del celular</p>
                                    <p class="mb-0">08 Julio 2020</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="align-self-center mr-3">
                                    <span class="badge badge-secondary p-1">SCOTIABANK</span>
                                </div>
                                <div class="align-self-center">
                                    <p class="mb-0"><span class="lbl-ingreso">+</span> S/ 1000.00</p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
    </div>

</div>
